In [3]:
import pandas as pd
df=pd.read_csv("2023_Countries by Population.csv")
df

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
0,356,696828385.0,1.059634e+09,1.240614e+09,1.417173e+09,1.428628e+09,1.514994e+09,1.670491e+09,India,3287590.00,2973190.00,IN,IND,0.4184,0.0081,0.1785,480.5033,1244.5036,1
1,156,982372466.0,1.264099e+09,1.348191e+09,1.425887e+09,1.425671e+09,1.415606e+09,1.312636e+09,China,9706961.00,9424702.90,CN,CHN,-0.0113,-0.0002,0.1781,151.2696,391.7884,2
2,840,223140018.0,2.823986e+08,3.111828e+08,3.382899e+08,3.399966e+08,3.521623e+08,3.753920e+08,United States,9372610.00,9147420.00,US,USA,0.0581,0.0050,0.0425,37.1686,96.2666,3
3,360,148177096.0,2.140724e+08,2.440162e+08,2.755013e+08,2.775341e+08,2.921501e+08,3.172252e+08,Indonesia,1904569.00,1877519.00,ID,IDN,0.0727,0.0074,0.0347,147.8196,382.8528,4
4,586,80624057.0,1.543699e+08,1.944545e+08,2.358249e+08,2.404857e+08,2.740298e+08,3.678085e+08,Pakistan,881912.00,770880.00,PK,PAK,0.1495,0.0198,0.0300,311.9625,807.9829,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,500,11452.0,5.138000e+03,4.938000e+03,4.390000e+03,4.386000e+03,4.301000e+03,3.781000e+03,Montserrat,102.00,102.00,MS,MSR,NaN,-0.0009,NaN,43.0000,111.3700,230
230,238,2240.0,3.080000e+03,3.187000e+03,3.780000e+03,3.791000e+03,3.869000e+03,3.779000e+03,Falkland Islands,12173.00,12173.00,FK,FLK,NaN,0.0029,NaN,0.3114,0.8066,231
231,570,3637.0,2.074000e+03,1.812000e+03,1.934000e+03,1.935000e+03,1.948000e+03,2.096000e+03,Niue,261.00,261.00,NU,NIU,0.0000,0.0005,NaN,7.4138,19.2017,232
232,772,1647.0,1.666000e+03,1.367000e+03,1.871000e+03,1.893000e+03,2.046000e+03,2.430000e+03,Tokelau,12.00,10.00,TK,TKL,NaN,0.0118,NaN,189.3000,490.2870,233
233,336,733.0,6.510000e+02,5.960000e+02,5.100000e+02,5.180000e+02,5.610000e+02,7.310000e+02,Vatican City,0.44,0.44,VA,VAT,NaN,0.0157,NaN,1177.2727,3049.1364,234

In [4]:
df.isnull().sum()

place              0
pop1980            0
pop2000            0
pop2010            0
pop2022            0
pop2023            0
pop2030            0
pop2050            0
country            0
area               0
landAreaKm         0
cca2               1
cca3               0
netChange          8
growthRate         0
worldPercentage    6
density            0
densityMi          0
rank               0
dtype: int64

In [8]:
df.isnull().index

RangeIndex(start=0, stop=234, step=1)

In [10]:
df[df.loc[:,'netChange'].isnull()].index

Index([217, 221, 227, 228, 229, 230, 232, 233], dtype='int64')

In [26]:
df[df.loc[:,'netChange'].isnull()]

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
217,674,21346.0,26823.0,31608.0,33660.0,33642.0,33458.0,32044.0,San Marino,61.00,60.00,SM,SMR,NaN,-0.0005,0.0,560.7000,1452.2130,218
221,585,12252.0,19726.0,18540.0,18055.0,18058.0,17919.0,16689.0,Palau,459.00,460.00,PW,PLW,NaN,0.0002,0.0,39.2565,101.6744,222
227,652,2983.0,7082.0,8988.0,10967.0,10994.0,11113.0,10210.0,Saint Barthelemy,21.00,25.00,BL,BLM,NaN,0.0025,0.0,439.7600,1138.9784,228
228,666,6106.0,6274.0,6052.0,5862.0,5840.0,5651.0,5165.0,Saint Pierre and Miquelon,242.00,242.00,PM,SPM,NaN,-0.0038,NaN,24.1322,62.5025,229
229,500,11452.0,5138.0,4938.0,4390.0,4386.0,4301.0,3781.0,Montserrat,102.00,102.00,MS,MSR,NaN,-0.0009,NaN,43.0000,111.3700,230
230,238,2240.0,3080.0,3187.0,3780.0,3791.0,3869.0,3779.0,Falkland Islands,12173.00,12173.00,FK,FLK,NaN,0.0029,NaN,0.3114,0.8066,231
232,772,1647.0,1666.0,1367.0,1871.0,1893.0,2046.0,2430.0,Tokelau,12.00,10.00,TK,TKL,NaN,0.0118,NaN,189.3000,490.2870,233
233,336,733.0,651.0,596.0,510.0,518.0,561.0,731.0,Vatican City,0.44,0.44,VA,VAT,NaN,0.0157,NaN,1177.2727,3049.1364,234

In [55]:
idx=[217, 221, 227, 228, 229, 230, 232, 233]

In [64]:
df.loc[idx,'netChange']=(df['pop2023'])-(df['pop2022'])/df['pop2022']

In [67]:
df.isnull().sum()

place              0
pop1980            0
pop2000            0
pop2010            0
pop2022            0
pop2023            0
pop2030            0
pop2050            0
country            0
area               0
landAreaKm         0
cca2               1
cca3               0
netChange          0
growthRate         0
worldPercentage    6
density            0
densityMi          0
rank               0
dtype: int64